name: Build and Push Images

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set image tag
        run: echo "TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push vote image
        uses: docker/build-push-action@v6
        with:
          context: ./vote
          push: true
          tags: ghcr.io/jubair2025/example-voting-app-vote:${{ env.TAG }}

      - name: Build & push result image
        uses: docker/build-push-action@v6
        with:
          context: ./result
          push: true
          tags: ghcr.io/jubair2025/example-voting-app-result:${{ env.TAG }}

      - name: Build & push worker image
        uses: docker/build-push-action@v6
        with:
          context: ./worker
          push: true
          tags: ghcr.io/jubair2025/example-voting-app-worker:${{ env.TAG }}
